# This file is a protobuff text format representation of a Mako
# ProjectInfo message.
#
# For more information about text format protobuffs see: go/proto-text-format
#
# For more information about ProjectInfo and the fields it contains see
# https://github.com/google/mako/blob/master/spec/proto/mako.proto
#
# This particular message is configured to be passed into a create_project
# or update_project command via the mako command line tool.
#
# For assistance using the command line tool see go/mako-help.
#

# project_name is always evaluated as lowercase and must be unique
project_name: "bigtable"

# project_alias is the display name of the project and will be shown on
# mako.dev. It does not have to be unique.
project_alias: "Bigtable"

# owner_list contains a list of owners (e.g. user@google.com, mdb_group@prod.google.com, etc.).
# Set "*" as an owner to enable global permissions.
owner_list: "mako@prod.google.com"
owner_list: "user@google.com"

#
default_issue_tracker: {
  buganizer_config: {
    component_id: "123456789"
  }
}
